body {
  font-family: "Inria Sans", sans-serif;
  color: #FFFFFF;
  background-color: #111113;
  font-size: 36px;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: currentColor;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

.container {}



img {
  display: block;
  max-width: 100%;
}

/** ---------HEADER------------ */

.header {
  background-color: transparent;
  position:fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.header-line {
  width: 100%;
  max-width: 1360px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.head-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.list-head-fir {
  margin-left: 40px;
}

.head-list-items {
  font-family: "Inria Serif", serif;
  font-size: 36px;
  color: black;
  font-weight: 400;
  font-style: italic;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.logo-header {}



.home-section {
  position: relative;
  background: url(../images/background-home.png), lightgray 0px -4.816px / 100% 101.334% no-repeat;
  box-shadow: 0px 4px 4px 0px rgba(51, 51, 51, 0.25);
  min-width: 1440px;
  display: flex;
  height: 770px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-family: 'Zeyada', cursive;
  font-weight: 400;
  font-size: 96px;
  margin: 0 auto;
  margin-top: 508px;
}