body {
  font-family: "Inria Sans", sans-serif;
  color: #FFFFFF;
  background-color: #111113;
  font-size: 36px;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: currentColor;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

.container {}



img {
  display: block;
  max-width: 100%;
}

/** ---------HEADER------------ */

.header {
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  padding: 28px 0;
}

.header-line {
  width: 100%;
  max-width: 1360px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.head-list {
  display: flex;
  align-items: center;
}

.list-head-fir {
  margin-left: 40px;
}

.head-list-items {
  font-family: "Inria Serif", serif;
  font-size: 36px;
  color: black;
  font-weight: 400;
  font-style: italic;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 28px 20px;
}

.logo-header {}



.home-section {
  background: url(../images/background-home.png), lightgray 0px -4.816px / 100% 101.334% no-repeat;
  box-shadow: 0px 4px 4px 0px rgba(51, 51, 51, 0.25);
  min-width: 1440px;
  display: flex;
  min-height: 722px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 110px;
}

h1 {
  font-family: 'Zeyada', cursive;
  font-weight: 400;
  font-size: 96px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin: 0 auto;
  margin-top: 515px;
  /* top: 515px;
  left: 600px;
  position: fixed; */
  background: linear-gradient(0deg, rgba(183, 183, 183, 0.934) 0%, rgba(135, 61, 29, 0.62) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sect-disco {
  padding: 30px 0 124px;
}

.title-disco {
  color: #A18E75;
  font-family: "Inria", serif;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 21px;
  text-align: center;
}

.line-below-title {
  background: #A18E75;
  border: 2px solid #A18E75;
  border-radius: 2px;
  max-width: 218px;
  margin: 0 auto;
}

.disco-option {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  margin-top: 22px;
}

.btn-sec-disc {
  border-radius: 6px;
  background-color: #606060;
  padding: 15px 15px;
  border: none;
  width: 98px;
  color: rgba(255, 255, 255, 0.69);

  font-family: "Inria Sans", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}